.icons{
    margin-top: 20px;
}
.title{
    text-align: center;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    // font-size: 40px;
/*     font-style: italic;
 */    color: lightblue;
}
.container-fluid {
    padding: 0 !important;
    background-color: #337ab7
    }
.title1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}/* .footer {
    opacity: 1; // Leave this as 1
    background-color: rgba(0,0,0,0.6); // This is in the form rgba(R,G,B,a) where a is your opacity
    // The rest of your CSS
  } */