<div class="navbar navbar-inverse navbar-static-top" style="height: 60px;background-color:dimgrey">
        <div class="container">
         <div class="row">
         <div class="col-xs-3">
             <div class="row">
               <div class="icons">
               <div class="col-xs-3">
                   <img src="assets/images/acco.jpg" alt="Accolite" class="img-responsive">
               </div>
               <div class="col-xs-3">
                   <a href="http://accolite.com/" style="color:white"><font size = 3>Home</font></a>
                 </div>
                 <div class="col-xs-3">
                     <a href="http://accolite.com/about.html" style="color:white"><font size = 3>About</font></a>
                   </div>
                   <div class="col-xs-3">
                       <a href="http://accolite.com/career.html" style="color:white"><font size = 3>Career</font></a>
                     </div>
                     </div>
             </div>
         </div>
        
         <div class="col-xs-6">
          <div class="title">
            <p>Only the Best Technical Minds!</p>
          </div>
       </div>
       
        <div class="icons">
         <div class="col-xs-3">
             <ul class="nav navbar-nav navbar-right" style="font-size: 15px">
                 <li><a href="signup"><span class="glyphicon glyphicon-user" routerLink="signup" ></span> Sign Up</a></li>
                 <li><a href="login"><span class="glyphicon glyphicon-log-in" routerLink="login"></span> Login</a></li>
               </ul>
           
         </div>  
         </div> 
         </div>  
       </div>       
   </div>
   <img src="assets/images/back1.jpg" alt="Background" class="img-responsive">
   <div class="container">
       <div class="row">
         <div class="col-xs-12">
           <div class="title1">
           <p>About Accolite</p>
         </div>
         <p>Accolite is a global IT Services company headquartered in Dallas, USA with offices in India. Recognized for providing cutting edge information technology services with a proven track record of being totally client focussed, Accolite promises efficient, affordable and on-time IT services.</p>
         <p>'Accolite' is derived from the Greek Word 'Akolouthos' defined as a dedicated person who contributes to the fulfillment of a need. True to its meaning, Accolite has always been devoted to the IT needs of its clients and will continue to do so.</p>
          <p>Starting with a humble beginning back in 2007 in Dallas with a single associate and a home office, today the company has grown to more than 750 associates distributed across multiple offices and geographic locations. A privately held organization, Accolite has been profitable from the first year of operation and serviced 100+ customers over the years.</p>  
       </div>
       </div>
   </div>
 
   
   <footer class="container-fluid text-center" style=" background-color: #f2f2f2;padding: 25px;margin-top: 30px">
       <p style="text-align: center">Only the Best Technical Minds</p>
     </footer>
   
   
     