<div class="row" id="login">
        <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">Login</div>
          <div class="panel-body">
                <form [formGroup]="ResetPasswordForm" >
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email ID" 
                                formControlName="emailId" ><br>
                                <button type="submit" class="btn btn-primary login-btn" (click)="resetUser()">Get Otp</button><br/><br>
                                <input type="text" class="form-control" placeholder="Enter OTP" 
                                formControlName="otp" ><br>
                                <button  class="btn btn-primary login-btn" (click)="verifyOtp()" >Submit</button><br/><br>
                                <div *ngIf="details">
                                    <input type="password" class="form-control" placeholder="new password" 
                                    formControlName="password" ><br>
                                    <button class="btn btn-primary login-btn" (click)="createNewPassword()">submit</button>
                            </div>
                    </div>
                    
                </form>
            </div>
        </div>
        </div>
</div>
    