.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
/*     font-style: italic;
 */    color:white;
}

.container-fluid{
    background-color:#337ab7;
}

.log:hover{
    background-color:darkgray;
}
.title1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.nav-link:hover{
    background-color:darkgray;
}
.nav-link{
    font-size: 20px;
    margin-right: auto !important;
}


