.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
/*     font-style: italic;
 */    color:white;
}
.container-fluid{
    // height : 60px;
    background-color:#337ab7;
}

.log:hover{
    background-color:darkgray;
}
.title1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.nav-link:hover{
    background-color:darkgray;
}
.nav-link{
    font-size: 20px;
    margin-right: auto !important;
}

.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
/*     font-style: italic;
 */    color:white;
}
.container-fluid{
    // height : 60px;
    background-color:#337ab7;
}

.log:hover{
    background-color:darkgray;
    
}
.title1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.nav-link:hover{
    background-color:lightblue;
<<<<<<< HEAD
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
=======
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
>>>>>>> a98c6464bdc282be46220016cac2475662e14e10
}
.nav-link{
    font-size: 20px;
    margin-right: auto !important;
}


.navbar-nav > .active > a {
    // color: black;
<<<<<<< HEAD
    background-color: lightblue ; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
   
=======
    background-color: lightblue ;  
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;  

>>>>>>> a98c6464bdc282be46220016cac2475662e14e10
  }
//   .nav-item > a:hover {
//     color: green;
//   }

.dropdown:hover>.dropdown-menu{
    display: block;
    
}