  .mat-dialog-actions {
      justify-content: flex-end;
  }
  .mat-dialog-container{
    display: flex !important;
    flex-direction: column;
    position:relative;
  }
  .mat-dialog-container > * {
    display: flex;
    flex-direction: column;
}


