body{
     /* background-color: rgb(230, 234, 240);  */
    /* font-family: 'Times New Roman', Times, serif; */
    /* overflow: scroll; */
}
.container {
    display: inline-flex; /* or inline-flex */
  }
  .button {
    display: inline-block;
    padding: 3px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#337ab7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px #999;
  }
  
  .button:hover {background-color: #464747}
  .tableFixHead          { overflow-y: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#337ab7; }

#searchByName, #searchById {
    width: 18%;
    padding: 6px 6px;
    margin: 5px 3px;
    box-sizing:border-box;
    
    border-radius: 5px; 
    border: 1px solid #cac8c8;
}
.spanclass{
	white-space: pre;
}
  /* .button:active {
    background-color: #0f110f;
    box-shadow: 0 5px rgb(114, 110, 110);
    transform: translateY(4px);
  } */