<!-- <!--The content below is only a placeholder and can be replaced
<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="empform" routerLinkActive="active">Add Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="demandform" routerLinkActive="active">Add Demand</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="demanddetails" routerLinkActive="active">View Demands</a>
    </li>
</ul>
<router-outlet></router-outlet> -->