
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Course Management</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Menu
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/view">Timesheets</a></li>
            <li><a routerLink="/course">Courses</a></li>
            <li><a routerLink="/trainer">Trainers</a></li>
            <li><a routerLink="/batch">Batches</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>