body{
    /* background-color: #eee;
      font-family: 'Times New Roman', Times, serif; */
  }
  .tableFixHead          { overflow-y: auto; height: 500px; }
  .tableFixHead thead th { position: sticky; top: 0; }
  
  table  { border-collapse: collapse; width: 100%; }
  th, td { padding: 8px 16px; }
  th     { background:#eee; }
  

  /* input {
      width: 100%;
      margin: 5px 3px;
      box-sizing:border-box;
      border: 1px solid rgb(202, 200, 200);
      border-radius: 5px;
      padding: 3px;
  
      
  } */
    #login .panel{
        margin-top: 20px;
    }
    #login .panel-heading {
        text-align: left;
        background-color:#337ab7;
        
    }
    #login .panel-body{
        
  }
    h4 {
        text-align: center;
    }
    #login input:active {
        border: 1px solid indianred;
        width: 100%;
    }
    .login-btn {
        width: 30%;
        border: 1px solid;
  
    }
    #login .back-btn{
        
    }
    .fa-facebook-square {
        font-size: 20px;
        color: darkblue;
    }
    .login-btn-fa {
        width: 100%;
        border: 1px solid darkblue; 
    }
    .fa-google-plus-square {
        font-size: 20px;
        color: indianred;
    }
    .space-top-10 {
        margin-top: 10px;
    }
    .space-top-20 {
        margin-top: 20px;
    }
  #searchByName, #searchById {
    width: 100%;
    padding: 6px 6px;
    margin: 5px 3px;
    box-sizing:border-box;
    border-radius: 5px; 
    border: 1px solid #cac8c8;
  }