
<router-outlet></router-outlet>
<div class="card text-center">
    <div class="card-header" style="background-color: black;" >
      <ul  class="nav nav-tabs card-header-tabs" >
        <li > 
          <a class="nav-link" *ngIf="admin || trainer || grad"  routerLink="" routerLinkActive="active">Grad</a>
        </li>
        <li  >
          <a class="nav-link" *ngIf="admin || trainer || grad"   routerLink="" routerLinkActive="active"  >Courses Available</a>
        </li>
        <li >
            <a class="nav-link" *ngIf="admin || trainer"  routerLink="" routerLinkActive="active" >Assessment and scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="admin || trainer || grad"  routerLink="" routerLinkActive="active" >Ed</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" *ngIf="admin "  routerLink="/employeeData" routerLinkActive="active" style="color:black;background-color: white;" > Employee</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" *ngIf="admin || trainer || grad"  routerLink="/currentUser" routerLinkActive="active" style="color:black;background-color: white;" > profile</a>
              </li> 
          <button (click)=logout() routerLink='/login'  style="position: absolute; right: 0;margin-right: 25px;">logout</button>
      </ul>      
    </div>
  </div>  


