body{
  background-color: #eee;
    font-family: 'Times New Roman', Times, serif;
    /* overflow: scroll; */
}
.tableFixHead          { overflow-y: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#337ab7; }

input {
    width: 18%;
    margin: 5px 3px;
    box-sizing:border-box;
    border: 1px solid rgb(202, 200, 200);
    border-radius: 5px;
    padding: 3px;

    
}