<div class="row" id="login">
    <h3> Welcome to Grad Management</h3>
    <h4>Please enter the below details to Register</h4>
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">SignUp</div>
        <div class="panel-body">
          <form [formGroup]="signUpForm">
            <input type="text" class="form-control" placeholder="Email ID" 
            formControlName="emailID" [ngClass]="{ 'is-invalid': signUpForm.controls.emailID.errors && signUpForm.controls.emailID.touched}" title="Email ID"/>
            <div *ngIf="signUpForm.controls.emailID.dirty && signUpForm.controls.emailID.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.emailID.errors.required">
                <font color="red" size = "2">Enter your emailID.</font>
              </div>
              <div *ngIf="signUpForm.controls.emailID.errors.email">
                <font color="red" size = "2.5"> Enter a valid emailID.</font>
              </div>
          </div><br>

            <input type="password" class="form-control" placeholder="Password" title="Password"
            formControlName="password" [ngClass]="{ 'is-invalid': signUpForm.controls.password.errors && signUpForm.controls.password.touched}"><br/>
            <div *ngIf="signUpForm.controls.password.dirty && signUpForm.controls.password.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.password.errors.required">
                <font color="red" size = "2.5">  Enter your password.</font>
              </div>
          </div>

            <input type="password" class="form-control" placeholder="Confirm Password" title="Password"
            formControlName="confirmPassword" [ngClass]="{ 'is-invalid': (signUpForm.controls.confirmPassword.errors || pwdMatch()) && signUpForm.controls.confirmPassword.touched}"><br/>
            <div *ngIf="signUpForm.controls.confirmPassword.dirty && signUpForm.controls.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.confirmPassword.errors.required">
                <font color="red" size = "2.5"> Enter your password again.</font>
              </div>
          </div>
          <div *ngIf="pwdMatch()" class="invalid-feedback">
            <font color="red" size = "2.5"> Passwords are not matching.</font>
          </div>

            <input type="text" class="form-control" placeholder="First Name" title="First Name"
            formControlName="firstName" [ngClass]="{ 'is-invalid': signUpForm.controls.firstName.errors && signUpForm.controls.firstName.touched}"/><br/>
            <div *ngIf="signUpForm.controls.firstName.dirty && signUpForm.controls.firstName.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.firstName.errors.required">
                <font color="red" size = "2.5">Enter your First name.</font>
              </div>
              <div *ngIf="signUpForm.controls.firstName.errors.pattern">
                <font color="red" size = "2.5">Enter a valid First name.</font>
              </div>
          </div>

            <input type="text" class="form-control" placeholder="Last Name" title="Last Name"
            formControlName="lastName" [ngClass]="{ 'is-invalid': signUpForm.controls.lastName.errors && signUpForm.controls.lastName.touched}"/><br/>
            <div *ngIf="signUpForm.controls.lastName.dirty && signUpForm.controls.lastName.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.lastName.errors.required">
                <font color="red" size = "2.5">Enter your Last name.</font>
              </div>
              <div *ngIf="signUpForm.controls.lastName.errors.pattern">
                <font color="red" size = "2.5">Enter a valid Last name.</font>
              </div>
          </div>

          <input type="text" class="form-control" placeholder="Phone Number" title="Phone Number"
            formControlName="phoneNumber" [ngClass]="{ 'is-invalid': signUpForm.controls.phoneNumber.errors && signUpForm.controls.phoneNumber.touched}"/><br/>
            <div *ngIf="signUpForm.controls.phoneNumber.dirty && signUpForm.controls.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.phoneNumber.errors.required">
                <font color="red" size = "2.5">Enter your Phone Number.</font>
              </div>
              <div *ngIf="signUpForm.controls.phoneNumber.errors.pattern">
                <font color="red" size = "2.5">Enter a valid Phone Number.</font>
              </div>
          </div>

            <input type="date" class="form-control" placeholder="Date-Of-Birth" title="Date-Of-Birth"
            formControlName="dateOfBirth" [ngClass]="{ 'is-invalid': signUpForm.controls.dateOfBirth.errors && signUpForm.controls.dateOfBirth.touched }"/><br/>
            <div *ngIf="signUpForm.controls.dateOfBirth.dirty && signUpForm.controls.dateOfBirth.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.dateOfBirth.errors.required">
                <font color="red" size = "2.5">Enter your Date of Birth.</font>
              </div>
          </div>

            <select class="form-control" placeholder="Gender" title="Gender"
            formControlName="gender" [ngClass]="{ 'is-invalid': signUpForm.controls.gender.errors && signUpForm.controls.gender.touched}" >
                <option value="" selected disabled hidden>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Others</option>   
            </select>
            <br>
            <div *ngIf="signUpForm.controls.gender.dirty && signUpForm.controls.gender.errors" class="invalid-feedback">
              <div *ngIf="signUpForm.controls.gender.errors.required">
                <font color="red" size = "2.5">Select your Gender.</font>
              </div>
          </div>

            <button [disabled]= "isvalid()" class="btn btn-primary login-btn" (click) = "signUpSubmit()">Submit</button><br/>
            <button class="btn btn-primary login-btn" style=" margin-top: 10px;" routerLink="/login">Cancel</button><br/>
            <div class="space-top-10">
              <p>By proceeding, You agree with our <a>Terms of Service</a> & <a>Privacy Policy</a></p>
            </div>
            
          </form>
          <div class="space-top-20"></div>
        </div>
      </div>
    </div>
  </div>