<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-title">
                Employee Form
            </div>
            <div class="card-body">
                <form>
                    <input type="text " name="empId" class="form-control" placeholder="Employee Code"
                        [(ngModel)]="empModel.empId">
                    <input type="text " name="empName" class="form-control" placeholder="Employee Name"
                        [(ngModel)]="empModel.empName">
                    <input type="text" name="empRole" class="form-control" placeholder="Role"
                        [(ngModel)]="empModel.empRole">
                    <button class="save-btn" (click)="onSubmitForm()">Save</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>