/* .bg {
	background-image: url("./../../../accolite.jpg");
	background-size: cover; 
	background-position: center;
  background-repeat: no-repeat;
	height: 100%;
  } */
.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-group{
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);
		/* &:focus {
		  z-index: 2;
		} */
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


